.idea/                # całe ustawienia IDE (często ignoruje się całe .idea)
*.iml                 # moduły IDE
__pycache__/
*.py[cod]             # skompilowane pliki Python
*.pyo
venv/
.env/                 # jeśli masz plik z lokalnymi zmiennymi środowiskowymi
